@page "/fetchdata"
@using BlazorServer.Data

<h1>Weather forecast</h1>

<p>component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <loader>
        <div class="alert-primary">Chargement est en cours..</div>
    </loader>

}
else
{
    <input @bind="dateEnter" @bind:format="dd/MM/yyyy"
           placeholder="dd/MM/yyyy" style="padding: 15px" />
    @dateEnter

    <button @onclick="GetDate"
             @onclick:stopPropagation="true"
             class="btn btn-outline-primary">
        Refresh
    </button>
    //Component bind
    <WeatherTable @bind-Forecasts ="forecasts"></WeatherTable>

  

}

